
*{
    font-family: poppins;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

body{
    margin:0px;
    padding: 0px;
    font-family: poppins;
    background: linear-gradient(to right, rgb(82, 48, 12), black, black, rgb(82, 48, 12));
}

/*navbar*/
.navigation{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px;
    max-width: 1070px;
    width: 100%;
    margin: auto;
}

.menu{
    display: flex;
}

.menu li a{
    padding: 3px 10px;
    margin: 0px 15px;
    color: #ffffff;
    font-weight: 500;
    letter-spacing: 0.5px;
    transition: all ease 0.3s;
}

.logo{
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 1px;
    color: #ffffff;
}

.logo span{
    color: rgb(255, 98, 0);
}

.right-side{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 25px;
}

.right-nav {
    display: flex;
    flex-direction: row;
}

.right-nav a{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: 8px;
    position: relative;
}

.right-nav a:last-child {
    margin-right: 0; 
}
.right-nav .like{
    background-color: #fff0ee;
    color: #ff6c57;
}
.right-nav .cart{
    background-color:#ecf7ee ;
    color: #4eb060;
}
.right-nav a span{
    position: absolute;
    top: -7px;
    right: -7px;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #ffffff;
    font-size: 0.6rem;
    font-weight: 500;
}

.right-nav .like span{
    background-color: #ff6c57;
}

.right-nav .cart span{
    background-color: #488052;
}

.menu li a:hover,
.menu .active{
    color: #ff6c57;
    transition: all ease 0.3s;
}

/*search banner*/
#search-banner{
    max-width: 1250px;
    height: 500px;
    border-radius: 30px;
    background-color: #332715;
    margin: 10px auto;
    position: relative;
    overflow: hidden;
    background-size: 800px;
    background-position: bottom right;
    padding: 20px;
    display: flex;
    align-items: center;

}

.bg-1{
    position: absolute;
    left: -60px;
    top: -60px;
    width: 450px;
    height: 550px;
    object-fit: contain;
    object-position: bottom left;
}

.bg-2{
    position: absolute;
    left: 898px;
    top: -60px;
    width: 450px;
    height: 550px;
    object-fit: contain;
    object-position: bottom right;
}

.bg-3{
    position: absolute;
    left: -70px;
    top: 0px;
    width: 450px;
    height: 500px;
    object-fit: contain;
    object-position: bottom right;
}

.bg-4{
    position: absolute;
    left: 910px;
    top: 0px;
    width: 450px;
    height: 500px;
    object-fit: contain;
    object-position: bottom left;
}


.search-banner-text{
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-left: 30%;
    position: relative;
}

.search-banner-text h1{
    font-size: 3rem;
    line-height: 55px;
    color: #00b37a;
}

.search-banner-text strong{
    color: #4eb060;
    font-size: 1.8rem;
    margin-top: 4px;
}

.search-box{
    background-color: #ffffff;
    height: 50px;
    display: flex;
    align-items: center;
    margin-top: 25px;
    padding: 0px 5px 0px 20px;
    border-radius: 30PX;
}

.search-box i{
    font-size: 1.3rem;
    color: #3b3b3b;
    margin: 0px 10px;
}

.search-box .search-input{
    height: 40px;
    border: none;
    width: 100%;
    padding: 0px 10px;
    outline: none;
}

.search-box .search-btn{
    width: 220px;
    height: 40px;
    border-radius: 30px;
    background-color: #ff6c57;
    border: none;
    color: #414141;
    outline: none;
    cursor: pointer;
    transition: all ease 0.3s;

}

.search-box .search-btn:hover{
    background-color: #ff472b;
    transition: all ease 0.3s;
}

#category,
#daily-essentials,
#de-bundle-pack{
    display: flex;
    flex-direction: column;
    max-width: 1000px;
    margin: 50px auto;
}

.category-heading,
.essentials-heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.category-head h2,
.essentials-heading h3,
.essentials-heading-2 h3{
    font-size: 1.56rem;
    font-weight: 700;
    color: #ffffff;
    letter-spacing: 0.5px;
}

.category-head span,
.essentials-heading span{
    color: #a7a7a7;
    font-weight: 400;
    letter-spacing: 1px;
}

.category-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px
}

.category-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #ffb370;
    border-radius: 10px;
    min-height: 130px;
    width: 120px;
    border: 1px solid rgba(0,0,0,0.03);

}

.category-box img{
    height: 35px;
    width: 50px;
    object-fit: contain;
    object-position: center;
    transition: all ease 0.1s;

}

.category-box span{
    color: #393939;
    font-size: 0.8rem;
    margin-top: 20px;
    letter-spacing: 0.3px;
    font-weight: 600;
}

.category-box:hover{
    transform: scale(1.1);
    transition: all ease 0.1s;
}

#daily-essentials{
    margin: 80px auto;

}
.product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin: 40px 0px;
}
.product-box{
    width: 100%;
    border: 1px solid #ad3400;
    background-color: #866745;
    padding: 20px;
    border-radius: 20px; 
    display: flex;
    flex-direction: column;
    position: relative;


}
.product-box img{
    width: 90%;
    height: 180px;
    object-fit: contain;
    object-position: center;
    margin: auto;
}

.product-box strong{
    color: #202020;
    font-size: 1.1rem;
    letter-spacing: 1px;
    font-weight: 600;
    margin-top: 10px;
}

.product-box .quantity{
    color: #ffffff;
    font-size: 0.8rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.product-box .price{
    margin-top:10px;
    font-size: 1.4rem;
    font-weight: 600;
    color: #393939;
}

.product-box .cart-btn{
    width: 100%;
    height: 40px;
    background-color: #ecf7ee;
    color: #ff472b;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    transition: all ease 0.3s;

}
.product-box .cart-btn i{
    margin-right: 10px;
}
.product-box .cart-btn:hover{
    background-color: #ff472b;
    color: #ffffff;
    transition: all ease 0.3s;
}

.product-box .like-btn{
    position: absolute;
    right: 30px;
    top: 20px;
    color: #c9c9c9;
    font-size: 1.3rem; 
}

#de-bundle-pack{
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 1150px;
    margin: 50px auto;
    padding: 60px 0px 20px 0px;
    border-radius: 20px;
    background-color: #581d00;
    border: 1px solid #f3f3f3;
    align-items: center;
}

.product-container,
.essentials-heading{
    max-width: 1000px;
    width: 100%;
}

#about-us{
    background: linear-gradient(to right, rgb(82, 48, 12), black, black, rgb(82, 48, 12));
    padding: 40px;
    text-align: center;
    color: #ffffff;
}

#about-us h2{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 20px;
    color: rgb(127, 71, 11);
}

#about-us p{
    font-size: 1rem;
    line-height: 1.5;
    color: wheat;
}



